/*base.css*/

html,
body {
  height: 100%;
  background: #fff !important;
  padding: 15px;
  padding-top: 30px;
}

#footer {
  text-align: center;
}

/******************************** Box Borders **********************************************/
.row .my-inner {
  padding: 5px;
  margin: 10px 1px 1px 1px;
}

#search {
  border: 1px solid black;
  padding: 1px;
  margin: 10px;
}
/******************************** End Box Borders **********************************************/

/******************************** Map and Table **********************************************/
#map-canvas{
    /*text-align: center;*/
    background-color: lightgrey;
    float: right;
    /*margin: 0 auto;*/
    width: 100%;
    height: 480px;
    /*border :solid 2px black;*/
    /*padding: 3px;*/
    /*border-radius:8px;*/
}
#table{
  /*float: left;*/
  margin: 0 auto;
  width: 600px;
}

#nogeotext{
    border :solid 2px black;
    padding: 3px;
    border-radius:8px;
    font-size: 20px;
}
/******************************** End Map and table **********************************************/

/******************************** Search UI box **************************************************/
.searchBox {
  line-height:200%;
}

.searchBox li {
  list-style-type: none;
}
/******************************** End Search UI box **********************************************/