<!-- collection_detail.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_header %} Collection {% endblock page_header %}

{% block content %}

	{% if messages %}
	    {% for message in messages %}
	    <h5{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
	    {% endfor %}
	{% endif %}

	<h2> {{ object.name }} </h2>
	<h5> OAI Identifier: {{ object.identifier }}</h5>
	<h5> Community: {{ object.community }}</h5>
	<h5> Number of records harvested: {{ num_records }}</h5>
	<h5> Created on: {{ object.created }}</h5>
	<h5> Modified on: {{ object.modified }}</h5>
	
	{% for i in collections %}<h3><small> </small></h3>	{% endfor %}
{% endblock content %}