<!-- harvester_collector.html -->
{% extends 'base.html' %}

{% block page_header %} Harvest Collector {% endblock page_header %}

{% block content %}

	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
	<form method="post" action="/harvest/collect/"> {% csrf_token %}

		<input name="repoid" type="hidden" value="{{ repository.identifier }}">


		<h3>{{ repository.name }} collections currently registered on this site:</h3>
		{% for i in registered_collections %}
			<h5><input type="checkbox">Reharvest {{ i }}</h5>
		{% empty %}
			<h5>No registered collections were found on this site for {{ repository.name }} on {{ repository.repository.name }}</h5>
		{% endfor %}

		<h3> Unharvested collections in {{ repository.name }} @ {{ repository.repository.name }}:</h3>
		{% for key, value in unregistered_collections.items %}
			<h5>
				<input name="set_id" type="checkbox" value="{{ key }}">
				Begin Harvesting {{ value }} <small>{{ key }}</small>
			</h5>
				<input name="set_name" type="hidden" value="{{ value }}"> 
		{% empty %}
			<h5> No collections found for {{ repository.name }} on {{ repository.repository.name }}</h5>
		{% endfor %}
		<input type="submit" value="submit">
	</form>
{% endblock content %}