<!-- harvester_collector.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_header %} Harvest Collector {% endblock page_header %}

{% block content %}
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}

	<form id="collection_form" method="post" action=""> {% csrf_token %}

		<input id="repo" name="repoid" type="hidden" value="{{ repository.identifier }}">


		<h3>Currently harvested collections from {{ repository.name }} @ {{ repository.repository.name }}:</h3>
		{% for i in registered_collections %}
			<h5>{{ i.identifier }}</h5>
		{% endfor %}

		<h3> Unharvested collections from {{ repository.name }} @ {{ repository.repository.name }}:</h3>
		{% for key, value in unregistered_collections.items %}
			<h5>
				<input name="{{ key }}" type="checkbox" value="{{ value }}" class="collection">
				Begin Harvesting {{ value }} <small>{{ key }}</small>
			</h5>
		{% endfor %}
		<input type="submit" value="submit">
	</form>



{% endblock content %}

{% block js_include %} <script src="{% static 'js/harvester.js' %}"></script> {% endblock js_include %}

