<!-- harvester_list_repos.html -->
{% extends 'base.html' %}

{% block page_header %} Browse for Selective Harvesting {% endblock page_header %}

{% block content %}

	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
	
	<h2>Registered Repositories</h2>
	
	{% for repo in object_list %}
		<h3> {{ repo.repository.name }} <small> {{ repo.repository.base_url }} </small> </h3>
	    <h5> <a href="/harvest/collector/{{ repo.identifier }}">{{ repo.name }}</a> </h5>
	{% empty %}
	    <h3>No repos registered</h3>
	{% endfor %}

	{{ communities }}

{% endblock content %}