<!-- index.html -->
{% extends 'base.html' %}

{% block page_header %}{% endblock page_header %}

{% block content %}
	
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default my-inner">
				<div class="panel-heading"><center><h5>WELCOME TO KAIPULEOHONE</h5></center></div>
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</div>
		</div>
		<div class="col-md-6">
			<div class="my-inner">
				<div id="map-canvas"></div>
    			<div id="table"></div>
    		</div>
		</div>
	</div>

	<div class="row">
		<!-- <div class="col-md-1"></div> -->
		<div class="col-md-12">
			<div class="panel panel-default my-inner">
				<div class="panel-heading"><h4>Search in Database</h4></div>
				<form action="{% url "search" %}" method="POST">{% csrf_token %}
					<ul class="nav nav-pills nav-justified">
					  <li class="dropdown">
					  	<select name='query' class="form-control" id='query'>
					  		<option selected="selected" disabled>Metadata Element</option>
						    <option value="title">Title</option>
						    <option value="date">Date</option>
						    <option value="depositor">Depositor</option>
						    <option value="coverage">Coverage</option>
						    <option value="language">Language</option>
						</select>
					  </li>
					  <li class="dropdown">
					  	<select name='type' class="form-control" id='type'>
					  		<option selected="selected" disabled>Query Type</option>
						    <option value="is">Is</option>
						    <option value="contains">Contains</option>
						</select>
					  </li>
					  <li id="filter"><button type="submit" class="btn btn-default">Search Kaipuleohone</button></li>
					  <input id="key" name="key" type="text" class="form-control" placeholder="Add keyword">
					</ul>
				</form>
			</div>
		</div>
	</div>

	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default my-inner">
				<div class="panel-heading"><center><h5>Browse by Collection</h5></center></div>
				<div class="list-group">
					{% for collection in collections %}
  						<a href="collection/{{ collection.identifier }}" class="list-group-item">
    						<span class="badge">{{ collection.count_records }}</span>
    						{{ collection }}
  						</a>
  					{% endfor %}
  					<ul class="pager">
					  <li class="previous disabled"><a href="#">&larr; Previous</a></li>
					  <li class="next"><a href="#">Next &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default my-inner">
				<div class="panel-heading"><center><h5>Browse by Language</h5></center></div>
				<div class="list-group">
  					{% for language, times in languages.items %}
  						<a href="language/{{ language }}" class="list-group-item">
    						<span class="badge">{{times}}</span>
    						{{ language }}
  						</a>
  					{% endfor %}
  					<ul class="pager">
					  <li class="previous disabled"><a href="#">&larr; Previous</a></li>
					  <li class="next"><a href="#">Next &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default my-inner">
				<div class="panel-heading"><center><h5>Browse by Depositor</h5></center></div>
				<div class="list-group">
  					{% for contributor, times in contributors.items %}
  						<a href="depositor/{{ contributor }}" class="list-group-item">
    						<span class="badge">{{times}}</span>
    						{{ contributor }}
  						</a>
  					{% endfor %}
  					<ul class="pager">
					  <li class="previous disabled"><a href="#">&larr; Previous</a></li>
					  <li class="next"><a href="#">Next &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<h4> <a href="{% url 'community' default.identifier %}"> {{ default }}</a>  </h4>
	
	<h3> Other communities:</h3>
	{% for i in communities %}
		<h6> <a href="{% url 'community' i.identifier %}"> {{ i }}</a>  </h6>
	{% endfor %}
	
{% endblock content %}

{% block js_script %}
	<script type="text/javascript">
		//Get the coordinates info and data from the records inside the DOM
        var json = {{ jsonStr|safe }};
    </script>
{% endblock js_script %}

{% block js_include %}
	<!--External js libraries-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!--Internal js files-->
    <script src="static/js/map.js"></script>
    <script src="static/js/table.js"></script>
    <script src="static/js/code.js"></script>
{% endblock js_include %}